
button {
    text-align: center;
    background-color: #ff66ff;
    border: #990099;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    margin: 100px;

}
button:hover{
  font-size: 45px;
  background-color:#990099;
  transition: all 750ms;
}
h1 {
  display: inline-block;
  color: #ffb3ff;
  margin-left: 200px;
  margin-right: 60px;
}
h2 {
  display: inline-block;
}
p {
  font-family: monospace;
  font-size: 20px;
  position: relative;
  left: 100px;
  top: 50px; 
}
header {
    font-family: 'Barrio', cursive; 
    background-color: #ffe6ff;
}

#new-contact-form {
    display: inline-block;
    font-size: 20px;
    font-family: monospace;
}
form, input {
    height: 30px;
    margin-top: 50px;
    margin-right: 10px;
    display: inline-block;
}

#submit {
     background-color:#990099;
     color: white;
     
      cursor: pointer;
      border: none;

}
div {
  font-family: arial;
  font-size: 15px;
  line-height: 2.2;
  color: #990099;
  margin-left: 80px;
}